@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body > * {
  @apply flex-grow;
}



.btn {
  @apply w-full h-12 text-2xl uppercase rounded-md hover:bg-primary-lighter hover:text-primary-dark
}

.btn-reset {
  @apply  text-xl text-primary-dark bg-primary disabled:text-opacity-35 disabled:opacity-35 disabled:cursor-not-allowed
}

.btn-percent {
  @apply text-white text-2xl font-bold bg-primary-dark transition-colors duration-300
}

.tip-form {
  @apply w-full grid grid-cols-1 desktop:grid-cols-2 grid-flow-row desktop:grid-flow-col gap-12
}

.tips {
  @apply grid grid-rows-3 grid-cols-2 desktop:grid-rows-2 desktop:grid-cols-3 place-items-stretch grid-flow-row gap-3.5
}

.text-input {
  @apply h-12 w-full text-primary-medium-dark font-bold text-2xl text-right border-none bg-primary-extra-light rounded-md focus:outline-none focus:outline-primary
}

.output-container {
  @apply flex flex-col gap-12 desktop:justify-between bg-primary-dark rounded-2xl p-6 desktop:p-10
}

.attribution-link {
  @apply hover:opacity-[0.35]
}
